

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: #BF2A26;
}

body {}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

#navbar {
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 5vw;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.s {
    width: 42%;
    padding: 0 6% 0 0;
    display: flex;
}

.s a{
    margin-right: 4vw;
}
.c {
    width: 16%;
    height: auto;
}

.d {
    width: 42%;
    padding: 0 0 0 6%;
    text-align: right;
    justify-content: space-between;
}

.c img {
    margin: auto;
    height: auto;
}


/* #homegallery {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 100px;
    background-color: mediumvioletred;
    padding: 1.5vw 10vw;
}

.cover,
#cover-sizer{
    background-color: red;
    float: left;
    margin: 1.5vw 1.5vw;
    width: 25%;
    height: 60px;
}
*/


.masonry {
    z-index: -1;
    background-color: white;
    margin: calc(100px + 1.5vw) 3.5vw;
    max-width: 100%;
}

.masonry .cover,
.masonry .grid-sizer {
    width: calc(25% - 3vw);
}

@media screen and (max-width: 768px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(50% - 3vw);
    }
}

@media screen and (min-width: 769px) and (max-width: 1399px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(25% - 3vw);
    }
}

@media screen and (min-width: 1400px) and (max-width: 1899px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(25% - 3vw);
    }
}

@media screen and (min-width: 1900px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(16.66% - 3vw);
    }
}

.masonry .cover,
.masonry .grid-sizer {
    margin: 1.5vw 1.5vw;
    height: auto;
    float: left;
}




.clearer {
    clear: both;
}