* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 4.5vw;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 4vw;
    font-weight: 700;
    color: #BF2A26;
}


header {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

#navbar {
    background-color: white;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.s,
.d {
    display: none;
}

.c {
    top: 8vw;
    position: absolute;
    left: calc(50% - 35vw);
    margin: auto;
    width: 70vw;
    z-index: 1;
}

#menumob {
    -webkit-transition: background-color .5s, z-index .5s;
    -moz-transition: background-color .5s, z-index .5s;
    -o-transition: background-color .5s, z-index .5s;
    transition: background-color .5s, z-index .5s;
    transition-delay: .5s;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    z-index: -1;
}

#menumob.open {
    z-index: 2;
    background-color: white;
}

#menumob span {
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    position: absolute;
    left: calc(50% - 3vw);
    width: 6vw;
    height: 0.8vw;
    background-color: black;
    border-radius: 2px;
    z-index: 3;
}

#menumob span:nth-child(1) {
    bottom: 11.8vw;
    
}

#menumob.open span:nth-child(1) {
    transform: rotate(-45deg);
    bottom: calc(100% - 12vw);
}

#menumob span:nth-child(2) {
    bottom: 10.2vw;
}

#menumob.open span:nth-child(2) {
    transform: rotate(45deg);
    bottom: calc(100% - 12vw);
}

#menumob span:nth-child(3) {
    bottom: 8.6vw;
}

#menumob span:nth-child(4) {
    cursor: pointer;
    opacity: 0;
    height: calc(0.8vw * 5);
    bottom: 8.6vw;
    z-index: 4;
}

#menumob.open span:nth-child(4) {
    height: calc(0.8vw * 5);
    bottom: calc(100% - 13.4vw);
}


#menumob #menulinks{
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    transition-delay: 0s;
    display: flex;
    width: 100vw;
    text-align: center;
    line-height: 4.5vw;
    position: relative;
    flex-flow: column;
    bottom: 50%;
    top: calc(50% - 20vw); 
    opacity: 0;
}

#menumob.open #menulinks{
    transition-delay: .6s;
    opacity: 100%
}


body {
    overflow-y: hidden;
}



.coso {
    width: 100%;
    top: calc(50% - 25vw);
    height: 50vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}

.homebox {
    margin: auto;
    display: flex;
}

.homebox #testa,
.testo,
p,
.ape {
    display: none;
}


.fiore {
    width: 50vw;
}

.clearer {
    clear: both;
}