* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}


#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 98; /* Higher than anything else in the document */

 }



header {
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

#navbar {
    background-color: white;
    width: 100%;
    top: 0;
    height: 100px;
    padding: 5vw;
    display: inline-flex;
    align-items: center;
}

a{
    -webkit-transition: font-weight .2s;
    -moz-transition: font-weight .2s;
    -o-transition: font-weight .2s;
    transition: font-weight .2s;
    text-decoration: none;
    color: black;
}

a:hover{ font-weight: 700; }

.s {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.s a{cursor: pointer}

.c {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.c img{
    width: 20vw;
    margin: auto;
    height: auto;
}

.d {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
}

.d a{}

.c img {
    margin: auto;
    height: auto;
}

#menumob{
    display: none;
}

body{
    overflow-y: hidden;
}

.coso{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    
}

.homebox{
    margin: auto;
    left: 0;
    width: 250px;
    height: 500px;
}

.homebox #testa{
    width: 100%;
    height: auto;
}

.homebox .testo{
    width: 60%;
}

.homebox p{
    
    width: 70%;
    margin-top: 20px;
}

.homebox a{
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: #BF2A26;
}

.volante{
    position: relative;
}

.ape{
    bottom: 320px;
    width: 170px;
    right: -190px;
}

.fiore{
    bottom: 300px;
    right: 110px;
    width: 120px;
}

.clearer {
    clear: both;
}