* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}


#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 98; /* Higher than anything else in the document */

 }



header {
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

#navbar {
    width: 100%;
    top: 0;
    height: 100px;
    padding: 7vw;
    display: flex;
    align-items: center;
}

a{
    -webkit-transition: font-weight .2s;
    -moz-transition: font-weight .2s;
    -o-transition: font-weight .2s;
    transition: font-weight .2s;
    text-decoration: none;
    color: black;
}

a:hover{ font-weight: 700; }

.s {
    width: 25vw;
    display: none;
    justify-content: space-between;
}

.s {display: none;}

.c {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.c img{
    width: 20vw;
    margin: auto;
    height: auto;
}

.d {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
}

.d {display: none;}

.c img {
    margin: auto;
    height: auto;
}

#menumob{
    display: none;
}

body{
    overflow-y: hidden;
}

.coso{
    width: 100vw;
    display: flex;
    height: 100%;
    
}

.homebox{
    width: 100vw;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

#testa1, 
#testa2, 
#testa3{
    margin: 2vw;
    width: 25vw;
} 

.homebox .testo{
    width: 60%;
}

.homebox p{
    
    width: 70%;
    margin-top: 20px;
}

.homebox a{
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: #BF2A26;
}

.volante, .ape, .fiore{
    display: none;
}



.clearer {
    clear: both;
}