* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h4{
    margin-bottom: 10pt;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#folder{
    display: none;
}

#menumob{
    display: none;
}

body{
}

header {
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

#navbar {
    width: 100%;
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    height: 100px;
    padding: 5vw;
    display: inline-flex;
    align-items: center;
}

a{
    -webkit-transition: font-weight .2s;
    -moz-transition: font-weight .2s;
    -o-transition: font-weight .2s;
    transition: font-weight .2s;
    text-decoration: none;
    color: black;
}

a:hover{ font-weight: 700; }

.s {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.s a{ cursor: pointer; }

.c {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.c img{
    width: 20vw;
    margin: auto;
    height: auto;
}

.d {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
}

.d a{}

.c img {
    margin: auto;
    height: auto;
}



#grid{
    margin-top: 110px;
    padding: calc(5% - 1vw);
    padding-top: 0;
    height: auto;
    width: 100%;
}

/* salvattore */
#grid img{
    margin: auto;
    padding: 1vw;
    display: block;
    max-width: 100%;
}

#grid .item{
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}

#titlebar{
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
    position: absolute;
    background-color: black;
    color: white;
    width: calc(100% - 2vw);
    left: 1vw;
    bottom: 1vw;
    text-align: center;
}

.item:hover #titlebar{
    height: 32pt;
}

#titlebar p{
    margin: 10pt;
}

.column { float: left; }


.size-1of3 {
    width: 33.3%;
}
.size-1of2 {
    width: 50%;
}
.size-1of1 {
    width: 100%;
}




#grid[data-columns]::before{
    content: '3 .column.size-1of3';
    opacity: 0;
}
   




/*hovers importanti*/




.clearer {
    clear: both;
}