

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 4.5vw;
}


body{
}

header {
    position: fixed;
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 34vw;
    background-color: white;
}

#navbar {
    width: 100vw;
    z-index: 99;
    position: absolute;
    top: 0;
    height: 100px;
    background-color: white;
    padding: 5vw;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.s,
.d {
    display: none;
}


.c {
    top: 7vw;
    position: absolute;
    left: 20vw;
    right: 20vw;
    margin: auto;
    width: 60vw;
    z-index: 1;
}

#menumob {
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    transition-delay: .5s;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    background-color: ;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 2;
}

#menumob.open {
    transition-delay: 0s;
    background-color: white;
}

#menumob span {
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    position: absolute;
    left: calc(50% - 3vw);
    width: 5vw;
    height: 0.7vw;
    background-color: black;
    border-radius: 2px;
    z-index: 3;
}

#menumob span:nth-child(3) {
    top: 24.8vw;
    
}

#menumob.open span:nth-child(3) {
    top: calc(100% - 10vw);
}

#menumob span:nth-child(2) {
    top: 23.2vw;
}

#menumob.open span:nth-child(2) {
    transform: rotate(45deg);
}

#menumob span:nth-child(1) {
    top: 21.6vw;
}

#menumob.open span:nth-child(1) {
    top: 23.2vw;
    transform: rotate(-45deg);
}

#menumob span:nth-child(4) {
    cursor: pointer;
    opacity: 0;
    height: calc(0.8vw * 5);
    background-color: #000000;
    top: 21.6vw;
    z-index: 4;
}

#menumob.open span:nth-child(4) {
}

#menumob #menulinks{
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    transition-delay: 0s;
    width: 100vw;
    text-align: center;
    line-height: 4.5vw;
    position: relative;
    display: flex;
    flex-flow: column;
    bottom: 50vh;
    top: calc(50vh - 20vw); 
    opacity: 0;
}

#menumob.open #menulinks{
    transition-delay: .6s;
    opacity: 100%
}

#menumob a:nth-child(1) {
   font-weight: 700;
}




#grid{
    padding: 33vw 2vw 0 2vw;    
}

/* salvattore */
#grid img{
    padding: 2vw;
    display: block;
    max-width: 100%;
}

.column { float: left; }
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}
.size-1of1 {
    width: 100%;
}

#grid[data-columns]::before{
    content: '2 .column.size-1of2';
    opacity: 0;
}



/*hovers importanti*/




.clearer {
    clear: both;
}